# Maven
target/
*.class

# Test artefacts
target/videos/
target/har/

# Allure
allure-results/
allure-report/
.allure/

# IDE
.idea/
*.iml
.vscode/
*.DS_Store

# Playwright browser binaries
/ms-playwright/
